*
{
    margin: 0;
    padding: 0;
}

h1{
    display: inline;
    background-color: blue;
}
body{
    background-color: rgb(8, 27, 8);
    text-align: center;
    color: white;
}

#box
{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game
{
    /* background-color:rgb(8, 36, 58);
    border: 10px solid white; */
    border-radius: 1.5rem;
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    
}
#nG
{
    height: 7vmin;
    width: 15vmin;
    border:1px solid white;
    border-radius: 1rem;
    color: white;
    background-color: black;
    font-size: 15px;
}
.block
{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    background-color:skyblue;
    font-size: 50px;
    /* color: rgb(6, 6, 95);   */
    color: white;
}
#winner
{
    font-size: 30px;
    color: pink;
    display: inline;
    /* background-color:rgb(5, 80, 5); */
}
#note
{
    margin-top: 2%;
    font-size: 20px;
}